# Script build output
scripts/ecat_esi_parser/generated-ros/

# ROS2 log/install/build directory
ros2/install/
ros2/build/
ros2/log/

# Python caches
**/__pycache__/

# Pycharm project file
.idea/

# Eclipse project files
ros2/**/build
ros2/**/.cproject
ros2/**/.project
ros2/**/.settings/

# Latex output
latex/**/*.aux
latex/**/*.log
latex/**/*.out
latex/**/*.pdf
latex/**/*.synctex.gz
latex/**/*.toc

# HTML version of README
README.html
