# Script build output
scripts/ecat_esi_parser/generated-ros/

# ROS2 log/install/build directory
ros2/install/
ros2/build/
ros2/log/

# Python caches
**/__pycache__/

# Pycharm project file
.idea/

# Eclipse project files
ros2/**/build
.autotools
.cproject
.project
.settings/
.pydevproject

# Latex output
latex/**/*.aux
latex/**/*.log
latex/**/*.out
latex/**/*.pdf
latex/**/*.synctex.gz
latex/**/*.toc
# TexStudio session
**/.txss2

# HTML version of README
README.html

# Libreoffice lock
**/.~lock*
