[submodule "ros2/lib/ethercat_grant"]
	path = ros2/lib/ethercat_grant
	url = git@github.com:PoSRP/ethercat_grant.git
	branch = devel
[submodule "ros2/lib/soem"]
	path = ros2/lib/soem
	url = git@github.com:PoSRP/soem.git
